#datepicker {
    position: absolute; /* Corrected positioning */
    top: 0px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    z-index: 10; /* Ensures it appears above other elements */

    /* Styling for a sleek and clean appearance */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #333;
    width: 200px; /* Fixed width */

    transition: box-shadow 0.3s, transform 0.2s; /* Smooth transition */
}

#dateDiv{
    display: flex;
    position: absolute;
    top: 60px; /* Adjust as needed to place it at the desired location on the map */
    left: 10px; /* Adjust as needed */
    z-index: 10; /* Ensures it appears above the map */
}
#datepicker .pika-button.has-event {
    background-color: #ff0000 !important; /* Change to your preferred color */
    color: #ffffff; /* Adjust text color as needed */
    /* Add any additional styling here */
}

.pika-button:hover{
    background-color: red !important;
}

