/* General form styles */
#addMemoryForm {
    position: flex; 
    max-width: 400px;
    z-index: 10;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for each form field */
#addMemoryForm div {
    margin-bottom: 15px;
}

/* Style for labels */
#addMemoryForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for input fields */
#addMemoryForm input[type="text"],
#addMemoryForm input[type="number"],
#addMemoryForm input[type="datetime-local"],
#addMemoryForm input[type="url"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

/* Style for the submit button */
#addMemoryForm button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #534caf;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hover effect for the button */
#addMemoryForm button:hover {
    background-color: #4554a0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/* Active (click) effect for the button */
#addMemoryForm button:active {
    background-color: #3e428e;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: translateY(2px);
}

#addMemDiv{
    display: flex;
    position: absolute;
    top: 150px; /* Adjust as needed to place it at the desired location on the map */
    left: 10px; /* Adjust as needed */
    z-index: 10; /* Ensures it appears above the map */
}