/* Shared styles for .memory */
.memory {
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  color: #bd2f2f;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}

.memory .details .title {
  color: #00aaff;
}

.memory::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #bd2f2f;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.memory .icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.memory .icon svg {
  height: 20px;
  width: auto;
}

.memory .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

/* Highlighted state styles for .memory */
.memory.highlight {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: 80px;
  /* padding: 8px 15px; */
  width: auto;
  pointer-events: none; /* Makes the image unclickable */

}

.memory.highlight::after {
  border-top: 9px solid #ffffff;
}

.memory.highlight .details {
  display: flex;
  
}

.memory.highlight .icon {
  display: none;
}

/* Styles for .image */
.details .image {
  width: 80px; /* Set a fixed width for the image */
  height: 80px; /* Set a fixed height for the image */
  overflow: hidden; /* Hide any overflow if the image exceeds the specified dimensions */
}

.details .image img {
  width: 100%; /* Ensure the image takes up 100% of the available width */
  height: 100%; /* Ensure the image takes up 100% of the available height */
  object-fit: cover; /* Resize the image to cover the container while maintaining its aspect ratio */

}
